* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 5px;
  overflow-x: hidden;
}

nav {
  padding: 0 10px;
  background-color: white;
}

a {
  color: black !important;
}

a:hover {
  color: #2bbbad !important;
  text-decoration: none !important;
}

.myCard {
  margin-top: 4rem;
}

.auth-card {
  padding: 1.5rem;
  margin: 1.5rem auto;
  max-width: 400px;
  text-align: center;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #2bbbad !important;
  box-shadow: 0 1px 0 0 #2bbbad !important;
}

.com {
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 10px;
  padding-top: 7px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  margin-bottom: 1.5rem;
}
.span-com {
  line-height: 1.4;
  padding-left: 2.1em;
}

.card-home {
  max-width: 600px;
  height: max-content;
  margin: 26px auto;
}

.input-field {
  margin: 3rem auto;
  max-width: 700px;
  padding: 2rem;
  text-align: center;
}

.material-icons:hover {
  cursor: pointer;
}

.profile {
  font-weight: bolder;
}

@media screen and (max-width: 600px) {
  .profil-img {
    margin-right: 15px;
    width: 150px !important;
  }

  .profil-name {
    font-size: 1.8em;
    font-weight: bolder;
  }
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(./insta404.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
